h1, h2,h3 {
    color: #0A437C;
    font: Georgia;
    font-size: 36px;
    text-align: center;
}
h1 {
    margin-top: 40px;
    font-size: 2.5rem;
    font-style: bold, serif, uppercase;
    text-align: center;
    text-decoration: none;
    padding: 10px 5px;
    width: 80%;
}
h2 {
    margin-top: 30px;
    font-size: 1.875rem;
}
body {
    font: Arial;
    font-size: 1em;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0; 
    line-height: 1.6;
}
#container {
    width: 100%;
    /* margin: auto;
    overflow: hidden; */
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
header h1 {
    font-size: 2.5rem;
    font: Georgia;
    font-style: bold, serif, uppercase;
    text-align: center;
    text-decoration: none;
    width: 80%;
    margin: 5vh auto;
    padding: 10px 0;
}
nav {
    background-color: #333;
    color: #fff;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}
nav.open {
    max-height: 300px; 
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    font-size: 18px;
}
nav a:hover {
    text-decoration: underline;
}
nav a.active {
    font-weight: bold;
    text-decoration: underline;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
nav ul li {
   border-bottom: 1px solid #ccc;
    margin: 0;
}
nav ul li a {
    display: inline-block;
    padding: 3px 0;
}
.currentPage {
    background-color: #ccc;
}
.currentPage a {
    color: #000;
}
#burgerIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}
#burgerIcon button {
    background-color: #F28B30;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #ffffff;
    font-size: 2rem;
    outline: none; 
}
#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.contentLeft {
	flex-basis: 60%;
	padding: 15px;
	margin: 10px 0;
}

.contentRight {
	flex-basis: 40%;
	padding: 15px;
	margin: 10px 0;
}

table {
	border-collapse: collapse;
	margin: 20px 0;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: var(--backgroundColour);
	color: #0A437C;
	font-weight: 100;
}

th,td {
	padding: 8px;
	border: 1px solid #ddd;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

#footer {
    background-color: #CCCCCC;
    border-top: 1px solid #ccc;
    color: #0066CC;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
}
